body{
  margin: 0;
  padding: 0;
  background-color: #F0FFFF;
  background-image: url(e.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  font-size: 22px;
  font-family: 'Yatra One', cursive;
}

nav{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0%;
  text-align: center;
}

.navbar{
  display: inline-block;;
  background: black;
  padding: 10px 15px;
  border-radius: 12px;
  justify-content: center;
}
.navbar li{
  display: inline;
  list-style: none;
  margin: 0 12px;
}
.navbar li a{
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
}
.home_title {
    font-size: 4.5rem;
    color: wheat;
}
.home_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.h{
  padding-top: 200px;
  color: wheat;
}

.h p{
  text-align: center;
}

.bg-2{
  background-image: url(f.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.about {
  padding: 60px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  text-align: center;
  margin-bottom: 10px; 
  overflow: hidden; 
}

.about-c {
  text-align: center;
  vertical-align:middle;
  /* display: inline-block; */
  align-items: center; 
  justify-content: center;
}

.about img {
  height: 350px;
  padding-top: 10px;
  width: auto; 
  border-radius: 30%;
  object-fit: cover;
  margin: 20px;
  vertical-align: middle;
}

.about-text-content {
  /* width: 60%;  */
  text-align: center;
  vertical-align:middle;;
}

.name{
  font-size: 60px;
}
h2{
  /* background-color: #A9A9A9; */
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
  color: #FF9D00;
}

  .row {
  display: inline-block;
}

.column {
  /* flex: 50%; */
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.education{
  padding: 50px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  text-align: center;
  margin-bottom: 10px; 
  overflow: hidden; 
}

.education-c{
  text-align: center;
  vertical-align:middle;
  /* display: inline-block; */
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
}
.edu{
  text-align: center;
}

h3{
  color: bisque;
  font-size:larger;
}

.experience{
  padding: 50px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  text-align: center;
  margin-bottom: 10px; 
  overflow: hidden; 
}

.experience-c{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  vertical-align:middle;
  /* display: inline-block; */
  /* justify-content: center; */
}
.exp{
  text-align: center;
}

.project{
  padding: 50px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  text-align: center;
  margin-bottom: 10px; 
  overflow: hidden; 
}

.project-c{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  vertical-align:middle;
  /* display: inline-block; */
  justify-content: center;
}
.pro{
  text-align: center;
}

.certificates{
  padding: 50px;
  padding-top: 100px;
  padding-left:100px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  /* text-align: center; */
  margin-bottom: 10px; 
  overflow: hidden; 
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  vertical-align: middle;
  /* display: inline-block; */
  justify-content: center;
  align-items: center;
}

.certificates-c{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  vertical-align: middle;
  line-height: 300%;
  /* display: inline-block; */
  /* justify-content: center; */
}

.coursework{
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  /* text-align: center; */
  margin-bottom: 10px; 
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  vertical-align:middle;
  /* display: inline-block; */
  justify-content: center;
  align-items: center; 
}

.coursework-c{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  vertical-align:middle;
  line-height: 300%;
  /* display: inline-block; */
  /* justify-content: center; */
}

.skills{
  padding: 50px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  text-align: center;
  margin-bottom: 10px; 
  overflow: hidden;
}

.skills-c{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  text-align: center;
}

.skills-c p{
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 10px;
}
.extra{
  padding: 50px; 
  padding-bottom: 170px;
  /* background-color: #f0f0f0; */
  text-align: center;
  margin-bottom: 10px; 
  overflow: hidden; 
}

.extra-c{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  vertical-align:middle;
  line-height: 300%;
  /* display: inline-block; */
  justify-content: center;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.foot{
  padding-top: 100px;
  text-align: center;
}

.q{
  /* display: flex;
  flex-direction: row; */
  text-align: center;
  vertical-align:middle;
  /* display: inline-block; */
  justify-content: center;
}
